POSTGRES_DB=catan
POSTGRES_USER=catan
POSTGRES_PASSWORD=catan_dev_password

JWT_SECRET=change-this-secret

ADMIN_EMAIL=admin@lsc.unicamp.br
ADMIN_PASSWORD=ChangeMe123!
ADMIN_FULL_NAME=Admin LSC
ADMIN_NICKNAME=admin_lsc

BOT_DEFAULT_TOKEN=lsc-bot-secret-change-me
